<div class="main-page">
	<div class="main-page__container">
		<div class="main-page__container__wrapper">
			<header class="main-page__container__header">
				<div class="main-page__container__header__img-wrapper">
					<img
						class="main-page__container__header__img-wrapper__logo"
						width="42"
						height="44"
						src="../../../assets/images/logo_42x44.png"
						alt="Logo icon"
					/>
				</div>
				<nav class="main-page__container__header__nav">
					<ul class="main-page__container__header__nav__list">
						<li
							class="main-page__container__header__nav__list__item"
						>
							<img
								src="../../../assets/images/icons/bell-icon_24x24.png"
								width="24"
								height="24"
								alt="Bell icon"
							/>
						</li>
						<li
							class="main-page__container__header__nav__list__item"
						>
							<img
								src="../../../assets/images/icons/russia-icon_24x24.png"
								width="24"
								height="24"
								alt="Russia icon"
							/>
						</li>
						<li
							class="main-page__container__header__nav__list__item"
						>
							<button class="btn">Личный кабинет</button>
						</li>
						<li
							class="main-page__container__header__nav__list__item"
						>
							<button class="btn">Регистрация</button>
						</li>
						<li
							class="main-page__container__header__nav__list__item"
						>
							<div class="burger">
								<span class="burger__item"></span>
								<span
									class="burger__item burger__item_small"
								></span>
								<span class="burger__item"></span>
							</div>
						</li>
					</ul>
				</nav>
			</header>
			<ng-content></ng-content>
		</div>
		<footer class="main-page__container__footer">
			<div class="main-page__container__footer__wrapper-link">
				<div class="main-page__container__footer__wrapper-link__icon">
					&raquo;
				</div>
				<a
					class="main-page__container__footer__wrapper-link__link"
					href="#"
					>Цепочка продуктов</a
				>
			</div>
			<ul class="main-page__container__footer__wrapper-info">
				<li class="main-page__container__footer__wrapper-info__item">
					<img
						class="main-page__container__footer__wrapper-info__item__img"
						src="../../../assets/images/icons/phone-icon-gray_20x20.png"
						width="20"
						height="20"
						alt="Phone icon"
					/>
					<p
						class="main-page__container__footer__wrapper-info__item__text"
					>
						+44-204-577-22-55
					</p>
				</li>
				<li class="main-page__container__footer__wrapper-info__item">
					<img
						class="main-page__container__footer__wrapper-info__item__img"
						src="../../../assets/images/icons/letter-icon-gray_20x16.png"
						width="20"
						height="16"
						alt="Phone icon"
					/>
					<p
						class="main-page__container__footer__wrapper-info__item__text"
					>
						infobridge-trades.com
					</p>
				</li>
			</ul>
		</footer>
	</div>
</div>
