<section class="programs-section">
	<div class="programs-section__pagination">
		<div class="programs-section__pagination__circle-item">03</div>
		<p class="programs-section__pagination__text">Программы</p>
	</div>
	<h2 class="programs-section__title">Наши программы</h2>
	<p class="programs-section__text">
		Многие подразделения компании имеют более чем 8-летний положительный
		опыт в различных областях финансовой деятельности. Открытость, простота,
		надёжность и эффективность — это те принципы, на которых строится наша
		работа по всему миру.
	</p>
	<div class="programs-section__item">
		<div class="programs-section__item__card">
			<div class="programs-section__item__card__number">01</div>
			<h3 class="programs-section__item__card__title">
				Финансовые рынки
			</h3>
			<p class="programs-section__item__card__text">
				фондовый, товарно-сырьевой, валютный и криптовалютный рынки
			</p>
		</div>
		<div class="programs-section__item__card">
			<div class="programs-section__item__card__number">02</div>
			<h3 class="programs-section__item__card__title">
				Автоматизированные решения
			</h3>
			<p class="programs-section__item__card__text">
				Алгоритмические торговые системы: разработка, применение и
				внедрение
			</p>
		</div>
		<div class="programs-section__item__card">
			<div class="programs-section__item__card__number">03</div>
			<h3 class="programs-section__item__card__title">
				Финансово-технологические направления
			</h3>
			<p class="programs-section__item__card__text">
				Цифровые и digital-проекты, инжиниринг, токенизация
			</p>
		</div>
	</div>
</section>
