@import "../../../assets/styles/mixins";
@import "../../../assets/styles/variable.scss";
@import "../../../assets/styles/btn";

.header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 25px;
	padding: 10px 0;
	border-bottom: 1px solid rgba(255, 255, 255, 0.2);
	margin-bottom: 60px;

	@include media-down(1300px) {
		padding: 8px 15px;
	}

	@include media-down(700px) {
		gap: 10px;

		.btn {
			display: none;
		}
	}

	@include media-down(700px) {
		margin-bottom: 20px;
	}

	&__logo-wrapper {
		flex: 2;
	}

	&__nav {
		display: flex;
		gap: 25px;
		align-items: center;

		@include media-down(700px) {
			gap: 10px;
		}
		&__list {
			display: flex;
			align-items: center;
			gap: 30px;

			@include media-down(700px) {
				gap: 10px;
			}

			&__item {
				cursor: pointer;
			}
		}
	}

	&__avatar {
		display: none;

		@include media-down(700px) {
			display: block;
		}
	}
}
