<header class="header">
	<div class="header__img-wrapper">
		<img
			class="header__img-wrapper__logo"
			width="42"
			height="44"
			src="../../../assets/images/logo_42x44.png"
			alt="Logo icon"
		/>
	</div>
	<nav class="header__nav">
		<ul class="header__nav__list">
			<li class="header__nav__list__item">
				<img
					src="../../../assets/images/icons/bell-icon_24x24.png"
					width="24"
					height="24"
					alt="Bell icon"
				/>
			</li>
			<li class="header__nav__list__item">
				<img
					src="../../../assets/images/icons/russia-icon_24x24.png"
					width="24"
					height="24"
					alt="Russia icon"
				/>
			</li>
			<li class="header__nav__list__item">
				<button class="btn">Личный кабинет</button>
			</li>
			<li class="header__nav__list__item">
				<button class="btn">Регистрация</button>
			</li>
			<li class="header__nav__list__item">
				<app-burger></app-burger>
			</li>
		</ul>
	</nav>
</header>
