<section class="news-section">
	<div class="news-section__header">
		<h2 class="news-section__header__title">Последние новости</h2>
		<button class="btn btn-lg" aria-label="Перейти на страницу новостей">
			Больше новостей
		</button>
	</div>
	<div class="news-section__item">
		<div class="news-section__item__card">
			<img
				class="news-section__item__card__img"
				ngSrc="../../../assets/images/background-pink_386x241.png"
				width="386"
				height="241"
				alt="Image"
			/>
			<div class="news-section__item__card__item">
				<h3 class="news-section__item__card__item__title">
					Инвестиции. Начало
				</h3>
				<p class="news-section__item__card__item__text">
					Большинству, кто еще не начал инвестировать, для старта не
					хватает совсем чуть-чуть. Кому-то знаний, кому-то
					уверенности, кому-то
				</p>
				<div class="news-section__item__card__item__footer">
					<img
						ngSrc="../../../assets/images/icons/calendar-icon_20x20.png"
						width="20"
						height="20"
						alt="Calendar icon"
					/>
					<p>10.09.2021</p>
					<img
						ngSrc="../../../assets/images/icons/eye-icon_20x20.png"
						width="20"
						height="20"
						alt="Eye icon"
					/>
					<p>15</p>
				</div>
			</div>
		</div>
		<div class="news-section__item__card">
			<img
				class="news-section__item__card__img"
				ngSrc="../../../assets/images/background-btr_386x241.png"
				width="386"
				height="241"
				alt="Image"
			/>
			<div class="news-section__item__card__item">
				<h3 class="news-section__item__card__item__title">
					Статус квалифицированного инвестора
				</h3>
				<p class="news-section__item__card__item__text">
					Этот статус позволяет использовать инструменты, недоступные
					инвесторам без квалификации, а его получение требует
					соблюдения определенных
				</p>
				<div class="news-section__item__card__item__footer">
					<img
						ngSrc="../../../assets/images/icons/calendar-icon_20x20.png"
						width="20"
						height="20"
						alt="Calendar icon"
					/>
					<p>10.09.2021</p>
					<img
						ngSrc="../../../assets/images/icons/eye-icon_20x20.png"
						width="20"
						height="20"
						alt="Eye icon"
					/>
					<p>15</p>
				</div>
			</div>
		</div>
		<div class="news-section__item__card">
			<img
				class="news-section__item__card__img"
				ngSrc="../../../assets/images/background-blue-white_386x241.png"
				width="386"
				height="241"
				alt="Image"
			/>
			<div class="news-section__item__card__item">
				<h3 class="news-section__item__card__item__title">
					Трейдинг VS Инвестиции
				</h3>
				<p class="news-section__item__card__item__text">
					Многие, приходя на биржу, не могут решить, какой путь для
					заработка выбрать
				</p>
				<div class="news-section__item__card__item__footer">
					<img
						ngSrc="../../../assets/images/icons/calendar-icon_20x20.png"
						width="20"
						height="20"
						alt="Calendar icon"
					/>
					<p>10.09.2021</p>
					<img
						ngSrc="../../../assets/images/icons/eye-icon_20x20.png"
						width="20"
						height="20"
						alt="Eye icon"
					/>
					<p>15</p>
				</div>
			</div>
		</div>
	</div>
</section>
