<section class="scheme-work-section">
	<div class="scheme-work-section__pagination">
		<div class="scheme-work-section__pagination__circle-item">03</div>
		<p class="scheme-work-section__pagination__text">Как мы работаем</p>
	</div>
	<h2 class="scheme-work-section__title">Схема работы</h2>
	<ul class="scheme-work-section__list">
		<li class="scheme-work-section__list__item">
			<div>
				<h3 class="scheme-work-section__list__item__title">
					Пройти регистрацию на сайте
				</h3>
				<p class="scheme-work-section__list__item__text">
					Это можно сделать за пару минут благодаря интуитивно
					понятному интерфейсу
				</p>
			</div>
		</li>
		<li class="scheme-work-section__list__item">
			<div>
				<h3 class="scheme-work-section__list__item__title">
					Войти в Личный кабинет
				</h3>
				<p class="scheme-work-section__list__item__text">
					Это произойдет автоматически после активации аккаунта
				</p>
			</div>
		</li>
		<li class="scheme-work-section__list__item">
			<div>
				<h3 class="scheme-work-section__list__item__title">
					Пополнить счет
				</h3>
				<p class="scheme-work-section__list__item__text">
					Доступен удобный формат внесения с криптовалютного кошелька
				</p>
			</div>
		</li>
		<li class="scheme-work-section__list__item">
			<div>
				<h3 class="scheme-work-section__list__item__title">
					Выбрать подходящий тариф
				</h3>
				<p class="scheme-work-section__list__item__text">
					Их всего 9. На каждом тарифе предусмотрены разные условия
					сотрудничества и разный ежедневный доход
				</p>
			</div>
		</li>
		<li class="scheme-work-section__list__item">
			<div>
				<h3 class="scheme-work-section__list__item__title">
					Начать получать прибыль
				</h3>
				<p class="scheme-work-section__list__item__text">
					Она будет начисляться автоматически каждые 24 часа
				</p>
			</div>
		</li>
		<li class="scheme-work-section__list__item">
			<div>
				<h3 class="scheme-work-section__list__item__title">
					Выводить прибыль
				</h3>
				<p class="scheme-work-section__list__item__text">
					Для этого предусмотрено 10 способов
				</p>
			</div>
		</li>
	</ul>
</section>
