<section class="contacts-section">
	<div class="contacts-section__banner">
		<h2 class="contacts-section__banner__title">
			Узнайте больше о том, как получать пассивный доход
		</h2>
		<div class="contacts-section__banner__item">
			<button
				class="btn btn-lg btn-active"
				aria-label="Перейти на страницу как получать больше пассивного дохода"
			>
				Узнать больше
			</button>
			<img
				src="../../../assets/images/call_365x110.png"
				width="365"
				height="110"
				alt="Foto call with mob number"
			/>
		</div>
	</div>
	<nav class="contacts-section__nav">
		<div class="contacts-section__nav__item">
			<img
				src="../../../assets/images/logo_57x60.png"
				width="57"
				height="60"
				alt="Logo icon"
			/>
			<p>
				Сервисы и услуги компании не подлежат обязательному
				лицензированию.
			</p>
		</div>
		<ul class="contacts-section__nav__about-company-list">
			<li class="contacts-section__nav__about-company-list__item">
				<a href="#" aria-label="compani">О компании</a>
			</li>
			<li class="contacts-section__nav__about-company-list__item">
				<a href="#" aria-label="work">Как это работает</a>
			</li>
			<li class="contacts-section__nav__about-company-list__item">
				<a href="#" aria-label="products">Продукты</a>
			</li>
			<li class="contacts-section__nav__about-company-list__item">
				<a href="#" aria-label="news">Новости</a>
			</li>
			<li class="contacts-section__nav__about-company-list__item">
				<a href="#" aria-label="Investment">Инвестиции</a>
			</li>
			<li class="contacts-section__nav__about-company-list__item">
				<a href="#" aria-label="Trading">Трейдинг</a>
			</li>
			<li class="contacts-section__nav__about-company-list__item">
				<a href="#" aria-label="offers">Предложения</a>
			</li>
			<li class="contacts-section__nav__about-company-list__item">
				<a href="#" aria-label="contacts">Контакты</a>
			</li>
		</ul>
		<ul class="contacts-section__nav__contacts-list">
			<li class="contacts-section__nav__contacts-list__item">Контакты</li>
			<li class="contacts-section__nav__contacts-list__item">
				<img
					src="../../../assets/images/icons/location-violet-icon_24x24.png"
					width="24"
					height="24"
					alt="Location icon"
				/>
				<a
					target="_blank"
					href="https://www.google.by/maps/place/68+Lombard+St,+London+EC3V+9LJ,+Великобритания/@51.5127997,-0.0898326,17z/data=!3m1!4b1!4m6!3m5!1s0x48760353708ebecb:0x12d6cb0d0aa572fb!8m2!3d51.5127997!4d-0.0872577!16s%2Fg%2F11b8v4d4lc?entry=ttu"
					>68 Lombard St, London EC3V 9LJ, United Kingdom</a
				>
			</li>
			<li class="contacts-section__nav__contacts-list__item">
				<img
					src="../../../assets/images/icons/phone-violet-icon_24x24.png"
					width="24"
					height="24"
					alt="Phone icon"
				/>
				<a href="tel:+70001234567">+44-204-577-22-55</a>
			</li>
			<li class="contacts-section__nav__contacts-list__item">
				<img
					src="../../../assets/images/icons/letter-violet-icon_24x24.png"
					width="24"
					height="24"
					alt="Letter icon"
				/>
				<a href="mailto:name@domain.com">infobridge-trades.com'</a>
			</li>
			<li class="contacts-section__nav__contacts-list__item">
				<img
					src="../../../assets/images/icons/faq-violet-icon_24x24.png"
					width="24"
					height="24"
					alt="Faq icon"
				/>
				<a href="tel:+70001234567">+7-495-045-43-92 (поддержка)</a>
			</li>
		</ul>
		<ul class="contacts-section__nav__social-networking-list">
			<li class="contacts-section__nav__social-networking-list__item">
				Присоединяйтесь
			</li>
			<li class="contacts-section__nav__social-networking-list__item">
				<a href="#" aria-label="Go over Instagram">
					<img
						src="../../../assets/images/icons/instagram-icon_40x40.png"
						width="40"
						height="40"
						alt="Instagram icon"
					/>
				</a>
				<a href="#" aria-label="Go over Vk">
					<img
						src="../../../assets/images/icons/vk-icon_40x40.png"
						width="40"
						height="40"
						alt="Vk icon"
					/>
				</a>
				<a href="#" aria-label="Go over Telegram">
					<img
						src="../../../assets/images/icons/telegram-icon_40x40.png"
						width="40"
						height="40"
						alt="Telegram icon"
					/>
				</a>

				<a href="#" aria-label="Go over YouTube">
					<img
						src="../../../assets/images/icons/youtube-icon_40x40.png"
						width="40"
						height="40"
						alt="YouTube icon"
					/>
				</a>
			</li>
		</ul>
	</nav>
</section>
