<section class="about-section">
	<div class="about-section__pagination">
		<div class="about-section__pagination__circle-item">01</div>
		<p class="about-section__pagination__text">О НАС</p>
	</div>
	<div class="about-section__wrapper">
		<h2 class="about-section__wrapper__title">
			Инвестиционная комапания BTR
		</h2>
		<p class="about-section__wrapper__text">
			Bridge trades ltd — это центральное звено, объединяющее ряд проектов
			для эффективного управления и максимизации прибыли.
		</p>
		<button
			class="btn btn-lg btn-active"
			aria-label="Перейти на страницу регистрации"
		>
			Регистрация
		</button>
	</div>
	<div class="about-section__video-wrapper">
		<video
			class="about-section__video-wrapper__video"
			src="#"
			poster="../../../assets/images/video-photo_856x482.png"
		></video>
	</div>
</section>
