<section class="product-section">
	<h2 class="product-section__title">Цепочка продуктов</h2>
	<div class="product-section__item">
		<!-- card start -->
		<div class="product-section__item__card">
			<div class="product-section__item__card__pagination">01</div>
			<div class="product-section__item__card__logo">
				<img
					src="../../../assets/images/neoTraders_140x26.png"
					width="140"
					height="26"
					alt="Card logo"
				/>
			</div>
			<h3 class="product-section__item__card__title">Neo Traders</h3>
			<p class="product-section__item__card__text">
				Обучение торговле на различных финансовых рынках
			</p>
			<button
				class="btn btn-md"
				aria-label="Подробнее узнать о компании перейдя на другую страницу"
			>
				Подробнее
			</button>
		</div>
		<!-- card end -->
		<!-- card start -->
		<div class="product-section__item__card">
			<div class="product-section__item__card__pagination">02</div>
			<div class="product-section__item__card__logo">
				<img
					src="../../../assets/images/btrtech_140x38.png"
					width="140"
					height="38"
					alt="Card logo"
				/>
			</div>
			<h3 class="product-section__item__card__title">
				BTR Technologies OU
			</h3>
			<p class="product-section__item__card__text">
				Обмен и хранение криптовалюты для частных и институциональных
				клиентов
			</p>
			<button
				class="btn btn-md"
				aria-label="Подробнее узнать о компании перейдя на другую страницу"
			>
				Подробнее
			</button>
		</div>
		<!-- card end -->
		<!-- card start -->
		<div class="product-section__item__card">
			<div class="product-section__item__card__pagination">03</div>
			<div class="product-section__item__card__logo">
				<img
					src="../../../assets/images/mthub_114x40.png"
					width="140"
					height="40"
					alt="Card logo"
				/>
			</div>
			<h3 class="product-section__item__card__title">MTHub</h3>
			<p class="product-section__item__card__text">
				Современный сервис для профессионального трейдера
			</p>
			<button
				class="btn btn-md"
				aria-label="Подробнее узнать о компании перейдя на другую страницу"
			>
				Подробнее
			</button>
		</div>
		<!-- card end -->
		<!-- card start -->
		<div class="product-section__item__card">
			<div class="product-section__item__card__pagination">04</div>
			<div class="product-section__item__card__logo">
				<img
					src="../../../assets/images/fxcoin_140x27.png"
					width="140"
					height="27"
					alt="Card logo"
				/>
			</div>
			<h3 class="product-section__item__card__title">FXCoin</h3>
			<p class="product-section__item__card__text">
				Мгновенная покупка криптовалюты через номер телефона или e-mail
			</p>
			<button
				class="btn btn-md"
				aria-label="Подробнее узнать о компании перейдя на другую страницу"
			>
				Подробнее
			</button>
		</div>
		<!-- card end -->
		<!-- card start -->
		<div class="product-section__item__card">
			<div class="product-section__item__card__pagination">05</div>
			<div class="product-section__item__card__logo">
				<img
					src="../../../assets/images/loyal-advisor_140x14.png"
					width="140"
					height="14"
					alt="Card logo"
				/>
			</div>
			<h3 class="product-section__item__card__title">Loyal Advisor</h3>
			<p class="product-section__item__card__text">
				Разработка алгоритмических торговых систем для трейдинга
			</p>
			<button
				class="btn btn-md"
				aria-label="Подробнее узнать о компании перейдя на другую страницу"
			>
				Подробнее
			</button>
		</div>
		<!-- card end -->
	</div>
</section>
