@import "../../../assets/styles/variable.scss";

.burger {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: end;
	gap: 5px;
	width: 100%;
	height: 100%;

	&__item {
		display: inline-block;
		width: 20px;
		height: 2.5px;
		background-color: $white-color;
	}

	&__item_small {
		width: 12.5px;
	}
}
