<section class="principles-section">
	<div class="principles-section__wrapper__graph">
		<img
			class="principles-section__wrapper__graph__graph-img"
			width="32"
			height="32"
			src="../../../assets/images/icons/icon-graph_32x32.png"
			alt="Circle graph icon"
		/>
	</div>
	<div class="principles-section__wrapper__money">
		<img
			class="principles-section__wrapper__money__money-img"
			width="33"
			height="33"
			src="../../../assets/images/icons/icon-money_33x33.png"
			alt="Circle money icon"
		/>
	</div>
	<img
		class="principles-section__curve-img"
		src="../../../assets/images/icons/icon-curve.png"
		alt="Curve icon"
	/>

	<div class="principles-section__pagination">
		<div class="principles-section__pagination__circle-item">02</div>
		<p class="principles-section__pagination__text">принципы</p>
	</div>
	<h2 class="principles-section__title">
		Более 8 лет успешно доказываем свою эффективность
	</h2>
	<p class="principles-section__text">
		Открыть, простота и эффективность- это те принципы на которых строится
		наша работа по всему миру
	</p>
</section>
