<section class="authors-section">
	<div class="authors-section__banner">
		<div class="authors-section__banner__item">
			<h2 class="authors-section__banner__item__title">
				Подпишитесь на рассылку
			</h2>
			<p class="authors-section__banner__item__text">
				Подпишитесь чтобы получать новости по всем интересующим вас
				темам. Вы в любой момент сможете отказаться от подписки
			</p>
		</div>
		<form class="authors-section__banner__form" action="#">
			<input
				class="authors-section__banner__form__input"
				type="text"
				placeholder="E-mail"
			/>
			<button
				class="btn btn-xl btn-active"
				aria-label="Подписаться на рассылку уведомлений"
			>
				Подписаться
			</button>
		</form>
	</div>
	<div class="authors-section__item">
		<div class="authors-section__item__header">
			<h3 class="authors-section__item__header__title">Лучшие авторы</h3>
			<button class="btn btn-lg" aria-label="Показать всех авторов">
				Все авторы
			</button>
		</div>
		<div class="authors-section__item__main">
			<div class="authors-section__item__main__card">
				<img
					class="authors-section__item__main__card__img"
					ngSrc="../../../assets/images/girl-person_110x110.png"
					width="110"
					height="110"
					alt="Foto authors"
				/>
				<h4 class="authors-section__item__main__card__title">
					Ирина Проскурина
				</h4>
				<p class="authors-section__item__main__card__text">
					Автор блога образовательного интернет-проекта «ФинГрам»
				</p>
				<div class="authors-section__item__main__card__item">
					<img
						ngSrc="../../../assets/images/icons/page-icon_20x20.png"
						width="20"
						height="20"
						alt="Page icon"
					/>
					<p>11</p>
					<img
						ngSrc="../../../assets/images/icons/eye-icon_20x20.png"
						width="20"
						height="20"
						alt="Eye icon"
					/>
					<p>15</p>
				</div>
			</div>
			<div class="authors-section__item__main__card">
				<img
					class="authors-section__item__main__card__img"
					ngSrc="../../../assets/images/girl-person_110x110.png"
					width="110"
					height="110"
					alt="Foto authors"
				/>
				<h4 class="authors-section__item__main__card__title">
					Ирина Проскурина
				</h4>
				<p class="authors-section__item__main__card__text">
					Автор блога образовательного интернет-проекта «ФинГрам»
				</p>
				<div class="authors-section__item__main__card__item">
					<img
						ngSrc="../../../assets/images/icons/page-icon_20x20.png"
						width="20"
						height="20"
						alt="Page icon"
					/>
					<p>11</p>
					<img
						ngSrc="../../../assets/images/icons/eye-icon_20x20.png"
						width="20"
						height="20"
						alt="Eye icon"
					/>
					<p>15</p>
				</div>
			</div>
			<div class="authors-section__item__main__card">
				<img
					class="authors-section__item__main__card__img"
					ngSrc="../../../assets/images/girl-person_110x110.png"
					width="110"
					height="110"
					alt="Foto authors"
				/>
				<h4 class="authors-section__item__main__card__title">
					Ирина Проскурина
				</h4>
				<p class="authors-section__item__main__card__text">
					Автор блога образовательного интернет-проекта «ФинГрам»
				</p>
				<div class="authors-section__item__main__card__item">
					<img
						ngSrc="../../../assets/images/icons/page-icon_20x20.png"
						width="20"
						height="20"
						alt="Page icon"
					/>
					<p>11</p>
					<img
						ngSrc="../../../assets/images/icons/eye-icon_20x20.png"
						width="20"
						height="20"
						alt="Eye icon"
					/>
					<p>15</p>
				</div>
			</div>
			<div class="authors-section__item__main__card">
				<img
					class="authors-section__item__main__card__img"
					ngSrc="../../../assets/images/girl-person_110x110.png"
					width="110"
					height="110"
					alt="Foto authors"
				/>
				<h4 class="authors-section__item__main__card__title">
					Ирина Проскурина
				</h4>
				<p class="authors-section__item__main__card__text">
					Автор блога образовательного интернет-проекта «ФинГрам»
				</p>
				<div class="authors-section__item__main__card__item">
					<img
						ngSrc="../../../assets/images/icons/page-icon_20x20.png"
						width="20"
						height="20"
						alt="Page icon"
					/>
					<p>11</p>
					<img
						ngSrc="../../../assets/images/icons/eye-icon_20x20.png"
						width="20"
						height="20"
						alt="Eye icon"
					/>
					<p>15</p>
				</div>
			</div>
		</div>
	</div>
</section>
