@import "../../../assets/styles/mixins";
@import "../../../assets/styles/variable";
@import "../../../assets/styles/btn";

.authors-section {
	margin-bottom: 100px;

	&__banner {
		width: 100%;
		background: linear-gradient(rgba(44, 43, 74), rgba(122, 118, 255, 0.1));
		display: flex;
		margin-bottom: 20px;
		padding: 50px;
		border-radius: 4px;

		@include media-down(1210px) {
			flex-direction: column;
			padding: 30px 20px;
		}

		&__item {
			&__title {
				font-weight: 700;
				font-size: 50px;
				line-height: 58px;

				@include media-down(1210px) {
					font-size: 34px;
					line-height: 42px;
				}
			}
			&__text {
				font-size: 18px;
				line-height: 34px;

				@include media-down(1210px) {
					font-size: 16px;
					line-height: 22px;
					margin-bottom: 10px;
				}
			}
		}

		&__form {
			display: flex;
			flex-direction: column;
			justify-content: center;
			gap: 20px;

			@include media-down(768px) {
				.btn {
					width: 100%;
				}
			}

			&__input {
				padding-left: 20px;
				border: none;
				border-radius: 5px;
				height: 60px;
				background-color: #f6f7ff;
			}
		}
	}

	&__item {
		&__header {
			margin-bottom: 20px;
			display: flex;
			justify-content: space-between;

			@include media-down(768px) {
				.btn {
					display: none;
				}
			}

			&__title {
				font-weight: 700;
				font-size: 60px;
				line-height: 70px;

				@include media-down(768px) {
					font-size: 34px;
					line-height: 42px;
				}
			}
		}

		&__main {
			display: flex;
			flex-wrap: wrap;
			justify-content: center;

			&__card {
				padding: 40px 30px;
				border: 1px solid rgba(246, 247, 255, 0.1);
				max-width: 324px;
				display: flex;
				flex-direction: column;
				align-items: center;
			}

			&__card__img {
				width: 110px;
				height: 110px;
				border-radius: 4px;
				margin-bottom: 20px;
			}

			&__card__title {
				font-weight: 600;
				font-size: 20px;
				line-height: 26px;
				margin-bottom: 10px;
			}

			&__card__text {
				font-size: 14px;
				line-height: 22px;
				text-align: center;
				color: $gray-color;
				margin-bottom: 20px;
			}

			&__card__item {
				width: 100%;
				padding-top: 20px;
				border-top: 1px solid rgba(246, 247, 255, 0.1);
				display: flex;
				justify-content: center;
				gap: 10px;

				img {
					object-fit: contain;
				}
			}
		}
	}
}
