<section class="tech-system-section">
	<h1 class="tech-system-section__title">BTR FinTech System</h1>
	<p class="tech-system-section__subtitle">
		Система включает в себя независимые проекты, объединенные общей цепочкой
		взаимодействия
	</p>
	<div class="tech-system-section__info">
		<figure class="tech-system-section__info__figure">
			<img
				class="tech-system-section__info__figure__img"
				src="../../../assets/images/tick-circle_45x45.png"
				width="45"
				height="45"
				alt="Tick in circle"
			/>
			<figcaption class="tech-system-section__info__figure__text">
				Инновационная линейка финтех-продуктов покрывает все запросы
				клиентов и генерирует прибыль нашим инвесторам
			</figcaption>
		</figure>
		<figure class="tech-system-section__info__figure">
			<img
				class="tech-system-section__info__figure__img"
				src="../../../assets/images/tick-circle_45x45.png"
				width="45"
				height="45"
				alt="Tick in circle"
			/>
			<figcaption class="tech-system-section__info__figure__text">
				Уникальные и гармоничные отношения между цифровыми технологиями
				и финансовыми рынками
			</figcaption>
		</figure>
	</div>
	<div class="tech-system-section__item-btn">
		<button
			class="btn btn-lg btn-active"
			aria-label="Перейти на страницу регистрации"
		>
			Регистрация
		</button>
		<button class="btn btn-lg" aria-label="Перейти в личный кабинет">
			Личный кабинет
		</button>
	</div>
	<div class="tech-system-section__item-arrow">
		<a
			class="tech-system-section__item-arrow__link"
			href="#"
			aria-label="Перейти к следующему разделу этой страницы"
			>&darr;</a
		>
	</div>
</section>
