<section class="offers-section">
	<div class="offers-section__header">
		<h2 class="offers-section__header__title">Наши предложения</h2>
		<p class="offers-section__header__text">
			Благодаря нашим алгоритмам, получать доход от торговли на биржах
			могут опытные брокеры или новички
		</p>
	</div>
	<div class="offers-section__main">
		<div class="offers-section__main__card">
			<div class="offers-section__main__card__item">
				<img
					class="offers-section__main__card__item__img"
					ngSrc="../../../assets/images/icons/chart-icon_70x70.png"
					alt="Chart icon"
					width="70"
					height="70"
				/>
				<div class="offers-section__main__card__item__title">
					Простота и удобство инвестирования
				</div>
			</div>
			<p class="offers-section__main__card__text">
				Быстрая процедура регистрации, простой и понятный интерфейс
			</p>
		</div>
		<div class="offers-section__main__card">
			<div class="offers-section__main__card__item">
				<img
					class="offers-section__main__card__item__img"
					ngSrc="../../../assets/images/icons/solutions-icon_70x70.png"
					alt="Chart icon"
					width="70"
					height="70"
				/>
				<div class="offers-section__main__card__item__title">
					Многообразие решений
				</div>
			</div>
			<p class="offers-section__main__card__text">
				Мы предоставляем широкую линейку продуктов для пользования.
			</p>
		</div>
		<div class="offers-section__main__card">
			<div class="offers-section__main__card__item">
				<img
					class="offers-section__main__card__item__img"
					ngSrc="../../../assets/images/icons/profit-icon_70x70.png"
					alt="Chart icon"
					width="70"
					height="70"
				/>
				<div class="offers-section__main__card__item__title">
					Доходность
				</div>
			</div>
			<p class="offers-section__main__card__text">
				Получение прибыли исходя из условий предложенных компанией
			</p>
		</div>
		<div class="offers-section__main__card">
			<div class="offers-section__main__card__item">
				<img
					class="offers-section__main__card__item__img"
					ngSrc="../../../assets/images/icons/configuration-icon_70x70.png"
					alt="Chart icon"
					width="70"
					height="70"
				/>
				<div class="offers-section__main__card__item__title">
					Разнообразие стратегий и торговых систем
				</div>
			</div>
			<p class="offers-section__main__card__text">
				Систематизация стратегий и адаптация торговых систем к каждому
				направлению деятельности компании
			</p>
		</div>
		<div class="offers-section__main__card">
			<div class="offers-section__main__card__item">
				<img
					class="offers-section__main__card__item__img"
					ngSrc="../../../assets/images/icons/Diversification-icon_70x70.png"
					alt="Chart icon"
					width="70"
					height="70"
				/>
				<div class="offers-section__main__card__item__title">
					Диверсификация
				</div>
			</div>
			<p class="offers-section__main__card__text">
				Распределение по разным категориям активов (фондовые, валютные
				активы, наши продукты)
			</p>
		</div>
		<div class="offers-section__main__card">
			<div class="offers-section__main__card__item">
				<img
					class="offers-section__main__card__item__img"
					ngSrc="../../../assets/images/icons/calendar-icon_70x70.png"
					alt="Chart icon"
					width="70"
					height="70"
				/>
				<div class="offers-section__main__card__item__title">
					Ежедневный расчёт прибыли
				</div>
			</div>
			<p class="offers-section__main__card__text">
				Автоматизированные торговые системы подводят итоги работы за 24
				часа и отправляют доход в личный кабинет инвестора
			</p>
		</div>
	</div>
</section>
